.quiz-hide {
    display: none;
}

.quiz {
    background: #272729;
    border-radius: 4px;
    padding: 50px 50px 40px 60px;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.quiz.completed .quiz-checkbox::before{
    opacity: 1;
}

.quiz-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.quiz-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

.quiz-button {
    font-family: 'PT Mono', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    background: #5BFFDA;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 15px 70px;
    transition: background 0.3s ease-in-out;
    margin-left: 224px;
}

.quiz-button:hover {
    background: #00cb9c;
}

.quiz-button:focus {
    background: #00cb9c;
    outline: none;
}

.quiz-input {
    font-family: "Monda", sans-serif;
    background-color: transparent;
    border: 1px solid #3D3D41;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    padding: 13px 18px;
    max-width: 325px;
    width: 100%;
    color: #ffffff;
    transition: border-color 0.3s ease-in-out;
}

.quiz-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.quiz-input:focus {
    outline: none;
    border-color: #5BFFDA;
}

.quiz-alert {
    color: #000000;
    background: #5BFFDA;
    border-radius: 4px;
    padding: 12px 19px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}

.quiz-alert-icon {
    margin-right: 10px;
}

.quiz-footer {
    width: 100%;
    margin: 28px 0 0;
}

.quiz-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.quiz-group .quiz-button {
    margin: 0;
}


/* checkbox */

.quiz-checkbox {
    position: relative;
    margin: 0 0 20px 0;
}

.quiz-checkbox::before {
    content: "❌";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    left: -30px;
    top: 1px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.quiz-checkbox[checkbox-success]::before {
    content: "✅";
}

.quiz-checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 7px 0 0 7px;
}
.quiz-checkbox-text {
	position: relative;
	padding: 0 0 0 27px;
	cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
}
.quiz-checkbox-text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
    border: 1px solid #5C5C65;
	border-radius: 50%;
    background: transparent;
    transition: border-color 0.2s ease-in-out;
}

.quiz-checkbox-text:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
    background: #5BFFDA;
    opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.quiz-checkbox input:checked + .quiz-checkbox-text::after {
    opacity: 1;
}

.quiz-checkbox input:checked + .quiz-checkbox-text::before,
.quiz-checkbox input:focus + .quiz-checkbox-text::before {
    border-color: #5BFFDA;
}

/* quiz show block */

[hide-block] {
    padding-top: 70px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

[hide-block].show-hide-block {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
}

.hide-block-button {
    font-family: 'PT Mono', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background: #5BFFDA;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 20px 23px;
    transition: background 0.3s ease-in-out;
}

.hide-block-button:hover {
    background: #00cb9c;
}

.hide-block-button:focus {
    background: #00cb9c;
    outline: none;
}

.hide-block-button-container {
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 700px) {
    .quiz {
        padding: 25px 30px;
    }

    .quiz-heading {
        font-size: 24px;
    }

    .quiz-group {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .quiz-input {
        width: 100%;
        max-width: 100%;
    }

    .quiz-button {
        font-size: 16px;
        line-height: 1.2;
        padding: 15px 30px;
        width: 100%;
        margin: 0;
    }
    
    .quiz-checkbox::before {
        left: -24px;
    }

    .hide-block-button {
        font-size: 14px;
        line-height: 1.2;
        padding: 20px 15px;
    }
}